<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <div style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; position: absolute;">
        <h1>Register Page</h1>
        <!-- form creation, taking parameters from registerform class -->
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.username }}
            {{ form.password }}
            {{ form.submit }}
        </form>
        <a href="{{ url_for('login') }}">Already have an account? Log In</a>
    </div>
</body>

</html>